<section class="ps-3 pe-3 ms-5 me-5">
    <p class="fs-6">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Aliquam dapibus justo ac rhoncus ultrices. 
    Nam at diam vitae elit blandit cursus. Sed enim orci, pretium et urna nec, rutrum aliquet leo. 
    Nunc luctus lectus vitae diam mollis, at consectetur elit maximus. Suspendisse bibendum feugiat diam, 
    sed imperdiet risus mattis dapibus. Vivamus pellentesque consectetur velit eget venenatis. 
    Fusce massa nunc, convallis quis est vel, ullamcorper sagittis felis. 
    Etiam facilisis mauris euismod tincidunt faucibus. Ut volutpat malesuada nunc quis aliquet.
     Aenean lacinia urna id magna interdum aliquam. Mauris quam mi, malesuada ut lacus sed, porta suscipit risus. 
     Pellentesque hendrerit dui urna, eget rutrum erat placerat et.
    </p>
</section>