<section class="home-section d-flex gap-5 ps-3 pe-3 ms-5 me-5">            
    <div class="mt-12 ms-5 me-5">
        <h5 class="">Hello,</h5>
        <h4 class="">I'm  Marlou Jake Napoli</h4>
        <h5>Aspiring Software Developer</h5>
        <button class="resume-button btn btn-sm rounded border-blue ps-2 pe-2">Resume</button>
    </div>
    <div class="ms-5 mt-5">
        <img class="profile-image" src="https://marloujake.github.io/portfolio/assets/images/napoli.png" alt="profile image"/>                   
    </div>
</section>