<section class="ps-3 pe-3 ms-5 me-5">
    <ul class="fs-6">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Integer aliquam justo quis enim sollicitudin, eget vulputate sapien pretium.</li>
        <li>Nam maximus ipsum a condimentum dignissim.</li>
        <li>Nunc pulvinar elit id purus blandit eleifend.</li>
        <li class="mt-3">Sed sagittis justo ac elit efficitur, varius rutrum justo condimentum.</li>
        <li>Donec eget elit auctor odio aliquet dapibus tristique ut ligula.</li>
        <li>Nam pellentesque diam vitae eros vestibulum, at facilisis sem semper.</li>
        <li class="mt-3"> Sed at turpis sed tortor commodo dapibus.</li>
        <li>Mauris consequat dui eget tellus efficitur feugiat.</li>
        <li>Vivamus sollicitudin purus sit amet urna pretium, eu tincidunt erat laoreet.</li>
    </ul>
</section>