.mt-8{
    margin-top: 0.8rem;
}

.mt-12{
    margin-top: 12.5rem;
}

.p-se-1{
    padding-left: 1rem;
    padding-right: 1rem;
}

.border-coral{
    border: 1px var(--secondary-color-os-1) solid;
}

.border-blue{
    border: 1px var(--primary-color-bs-1) solid;
}

.active {
    color:  var(--secondary-color-os-1) !important;
    border-bottom: 2px solid var(--secondary-color-os-1);
}