:root{
    --primary-color-bs-1: #007BFF ;
    --primary-color-bs-2: #4A90E2;
    --primary-color-bs-3: #87CEEB;

    --secondary-color-os-1: #f4afa9;
    --secondary-color-os-2: #FF6F61;
    --secondary-color-os-3: #ec675b;

    --color-light: #F7F8FA;

    --bg-color-dark: #222831;
    --bg-color-light: #F7F8FA;

    --text-color-w: #FFFFFF;
    --text-color-d: #2e2e2e;
    --text-color-dg: #2C3E50;
    --text-color-mg: #7F8C8D;
    --text-color-lg: #ECF0F1;
    --text-color-g: #c4cad3;

    --text-size-vsm: 6px;
    --text-size-sm: 12px;
    --text-size-md: 24px;

    --index-link-text-1: #dae7f0;
    --index-link-text-2: #1C3C5D;

    --hover-bg-color-1: #AFEEEE;
    --hover-bg-color-2: #4682B4;

    --hover-text-color-1: #002B5B ;
    --hover-text-color-2: #F8F8F8;

}



